<label for="marca">Nombre: </label>
<input type="string" id="marca" name="marca" [(ngModel)]="nombre" /><br />
<label for="color">Apellido: </label>
<input type="string" id="string" id="color" name="color" [(ngModel)]="apellido" /><br />
<label for="velocidad">Dni: </label>
<input type="number" id="velocidad" name="velocidad" [(ngModel)]="dni" /><br />
<label for="piñones">Telefono: </label>
<input type="number" id="piñones" name="piñones" [(ngModel)]="telefono" /><br />
<label for="direccion">Direccion: </label>
<input type="string" id="direccion" name="direccion" [(ngModel)]="direccion" /><br />
<label for="electrica">Email</label>
<input type="string" id="string" id="color" name="color" [(ngModel)]="email"/><br /><br /><br />
<input type="submit" value="subir" (click)="anadir()" />

